* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: rgb(0,75,150);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav{
    background-color: rgb(0, 75, 150);
    padding: 20px;
    top: 0;
    z-index: 100;
}
nav ul{
    display:flex;
    justify-content: center;
    top: 0;
    gap: 30px;
    list-style: none;
}
nav a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
    border-radius: 5px;
}
nav a:hover{
    background-color: dodgerblue;
    color: white;
}

main{
    flex:1;
    padding:2rem;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(0,75,150);
    text-align: center;
}
.team-quote{
    text-align: center;
}
.team-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding:20px;
    background-color: #c2a739;
    border-radius: 10px;
}
.team-member figure{
    margin: 0;
}
.team-member img{
    width:200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #c2a739;

}
.team-container{
    display: flex;
    justify-content: center;
}
footer{
    background-color: rgb(0,75,150);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}
footer img{
    height: 50px;
    width: auto;
}
footer p{
    font-size: 12px;
    color: white;
}
table{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width:100%;
}
td,th{
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}