* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: darkblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav{
    background-color: rgb(0, 75, 150);
    padding: 20px;
    top: 0;
    z-index: 100;
}
nav ul{
    display:flex;
    justify-content: center;
    top: 0;
}
nav a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

main{
    flex:1;
    padding:2rem;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb (0,75,150);
    text-align: center;
}
.team-quote{
    text-align: center;
}
.team-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding:20px;
    background-color: #c2a739;
    border-radius: 10px;
}
.team-member figure{
    margin: 0;
}
.team-member img{
    width:200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid dodgerblue;

}
.team-container{
    display: flex;
    justify-content: center;
}
