* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url("images/mtb.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

header {
    text-align: center;
    background: rgba(164, 8, 8, 0.387);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px black;
}

h1 {
    font-size: 50px;
    margin: 0;
    text-shadow: 2px 2px 4px black;
}

h2 {
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
}

#main {
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 40px black;
    min-width: 400px;
    color: #780000;
    backdrop-filter: blur(10px);

}

#game-stats {
    background: rgba(167, 0, 0, 0.237);
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

#game-stats p {
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 10px 5px;
    width: 80px;
    text-align: center;
}

button {
    padding: 10px 25px;
    font-size: 15px;
    color: darkred;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(234, 102, 102, 0.4);
}

button:active {
    transform: translateY(0);
}

#resetBtn {
    display: none;
}

#feedback {
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    min-height: 20px;
    text-align: center;
    color: white;
}

#guesses {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background: lightgray;
    border-radius: 5px;
    min-height: 20px;
    font-weight: bold;
    color: black;
}

div:has(#guesses) {
    margin-top: 20px;
    padding: 10px;
    background: rgba(164, 8, 8, 0.387);
    border-radius: 8px;
    color: white;
}